@media screen and (max-width: 991px) {
  .topbar {
    display: none;
  }
  .header-list ul {
    display: none;
  }
  .about-inner{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .div-search {
    display: none;
  }
  .menu {
    display: block;
    margin-left: 10px;
  }
  .logo-img img {
    width: 150px;
  }
  .sidebar-content {
    width: 100%;
    height: 100%;
    max-width: none;
  }
  .reports-contents {
    max-width: none;
    width: 100%;
  }
  .btn-hero {
    display: inline-flex;
    gap: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .hero-detail p {
    font-size: 17px;
  }
  .hero-head {
    font-size: 68px;
  }
  .hero-detail h5 {
    font-size: 17px;
  }
  .hero-main-head h2 {
    font-size: 44px;
  }
  .hero-main-head p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 20px;
    max-width: 569px;
  }
  .countdown {
    display: none;
  }
}
