:root{
    --white:#fff;
    --black:#000;
    --dark-pink:#FC226A;
    --theme-gradient: linear-gradient(to right, #fc226a 0%, #8c52ff 100%);
    --dark-blue:#01054C;
    --gray:#757F95;
    --purple:#8a52fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   font-family: 'Poppins';
}
button{
    cursor: pointer;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
ul,
ol {
  list-style: none;
}
img{
    display: block;
}
.realtive{
  position: relative;
}
