:root {
  --white: #fff;
  --black: #000;
  --dark-pink: #fc226a;
  --theme-gradient: linear-gradient(to right, #fc226a 0%, #8c52ff 100%);
  --dark-blue: #01054c;
  --gray: #757f95;
  --purple: #8a52fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
::selection {
  background-color: #565656;
  color: var(--white);
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
}
.relative {
  position: relative;
}

/* Hero-section */

.hero {
  position: relative;
}
.hero img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000a9;
  width: 100%;
  height: 100%;
}
.hero-inner {
  position: relative;
  z-index: 1;
  padding-block: 100px;
}
.hero-head {
  font-size: 96px;
  font-weight: 700;
  color: var(--dark-pink);
}
.hero-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-detail h5 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1;
}
.hero-detail p {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.hero-main-head h2 {
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
  color: var(--white);
}
.hero-main-head span {
  color: var(--dark-pink);
}
.hero-main-head p {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
  margin-bottom: 20px;
  max-width: 700px;
}
.hero-main-head a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.btn-hero {
  display: flex;
  gap: 20px;
}
.theme-btn {
  font-size: 16px;
  color: var(--white);
  padding: 12px 24px;
  text-transform: capitalize;
  position: relative;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background: var(--theme-gradient);
  z-index: 1;
  display: inline-flex;
  transition: 0.3s all ease-in-out;
}
.theme-btn::before {
  content: "";
  height: 300px;
  width: 300px;
  background: var(--purple);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
  transition: 0.3s all ease-in-out;
}
.theme-btn:hover {
  color: var(--white);
}

.theme-btn:hover::before {
  transform: translateY(-50%) translateX(-50%) scale(1);
  transition: 0.3s all ease-in-out;
}

.theme-btn:hover svg {
  transform: rotate(45deg);
}
.theme-btn svg {
  transition: 0.3s all ease-in-out;
  margin-left: 10px;
}
.hero-scroll-box {
  position: absolute;
  left: 22px;
  bottom: 17px;
  z-index: 2;
}
.hero-scroll {
  width: 30px;
  height: 60px;
  border: 3px solid var(--white);
  border-radius: 15px;
  position: relative;
}
.hero-scroll .scroller {
  width: 16px;
  border-radius: 8px;
  background-color: var(--white);
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 34px;
  animation: scroller 1500ms ease-out infinite;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}
.theme-btn1 {
  background: var(--color-white);
  color: var(--theme-color);
}
.theme-btn1 {
  font-size: 16px;
  color: var(--dark-pink);
  padding: 12px 24px;
  transition: all 0.5s;
  text-transform: capitalize;
  position: relative;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  border: none;
  background: var(--white);
  z-index: 1;
}
.theme-btn1 {
  background: var(--white);
  color: var(--dark-pink);
}
.theme-btn1::before {
  content: "";
  height: 300px;
  width: 300px;
  background: var(--dark-pink);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
}

.theme-btn1:hover::before {
  transform: translateY(-50%) translateX(-50%) scale(1);
  transition: 0.3s all ease-in-out;
}
.theme-btn1:hover {
  color: var(--white);
}
.theme-btn1:hover svg {
  transform: rotate(45deg);
  color: var(--white);
}
.theme-btn1 svg {
  transition: 0.3s all ease-in-out;
}

.countdown-box {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ff0055, #7a00ff);
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  width: 500px;
  font-size: 2em;
}
.countdown {
  display: flex;
  background: var(--theme-gradient);
  color: var(--white);
  align-items: center;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.time-box {
  text-align: center;
  margin: 0 15px;
}
.time-box span {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.time-box label {
  font-size: 14px;
  margin-top: 5px;
  display: block;
}
.side-label {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  font-weight: bold;
  color: var(--white);
  background: var(--white);
  color: var(--purple);
  padding: 20px;
  margin-left: 20px;
  font-size: 16px;
  width: 100%;
  letter-spacing: 2px;
}

/* About */
.about-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
}
.about {
  margin-block: 100px;
}
.about-img img {
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
.about-img {
  position: relative;
  width: 450px;
  aspect-ratio: 1;
  object-fit: cover;
}
.img-1 img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: auto;
  border: 11px solid var(--white);
  object-fit: cover;
}
.about-3 img {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: auto;
  border: 11px solid var(--white);
  object-fit: cover;
}
.about-desc {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, 0%);
  background: var(--theme-gradient);
  max-width: 150px;
  padding: 20px;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  font-size: 30px;
  text-align: center;
}
.about-desc span {
  font-size: 50px;
  font-weight: 400;
}
.about-desc h4 {
  font-weight: 300;
  font-size: 20px;
}
.about-content h3 {
  color: var(--dark-pink);
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 23px;
}
.about-content h2 {
  color: var(--dark-blue);
  font-size: 45px;
  font-weight: 600;
  max-width: 500px;
}
.about-content span {
  color: var(--dark-pink);
  font-weight: 400;
  letter-spacing: 0.03em;
}
.about-content p {
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
}
.about-content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}
.about-content ul:last-child li:not(:last-child):nth-child(-n + 2) {
  border-bottom: 1px solid rgba(220, 220, 220, 0.545);
  max-width: 500px;
}
.about-content ul li h4 {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 20px;
}
.about-content ul li span {
  font-weight: 600;
}
.about-items .btn-hero svg {
  margin-left: 10px;
}
.about-items .btn-hero {
  margin-top: 30px;
}
.shdow-text h4 {
  color: var(--gray);
  opacity: 10%;
  top: -100%;
  left: 10%;
  transform: translate(-15%, -15%);
  font-size: 96px;
  position: absolute;
  z-index: -1;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.title {
  position: relative;
}
/* Video section */
.video-section {
  margin: 80px 0;
  background-image: url(../../assets/img/background/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  position: relative;
  padding: 170px 0;
}
.video-section::after {
  content: "";
  position: absolute;
  background: rgba(11, 9, 23, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.video-items h3 {
  color: var(--white);
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.03em;
}
.video-items h2 {
  color: var(--white);
  font-size: 50px;
  max-width: 800px;
  font-weight: 500;
  padding-bottom: 20px;
}
.video-items span {
  color: var(--dark-pink);
}

.video-items {
  position: relative;
  z-index: 9999;
}

.video-inner {
  display: flex;
  justify-content: space-between;
}
